.menu-container {
    display: flex;
    width: 500px;
    overflow: hidden;
    background-color: white;

    .menu-container-visible-area {
        display: flex;
        position: relative;
        height: 400px;
    }
}